
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '624877002670735372',
    channel: '629572866962096128',
    shard: 'https://disweb.deploys.io'
  })   
  </script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="page-content">
      <center>
        <h1>R3XT3R - The Discord Bot</h1><br><br>
        <h2>The Mulitpurpose Discord Bot which has many features from Moderation to Music, and many more for ya'll to try!</h2>
        </center>
    </div>
  <br /><br /><br /><br />
  <div class="web-chat">
    <center>
    
    </center>
  </div>
  <div class="footer">
    <%- include('partials/footer.ejs') %>
  </div>
</body>
</html>